nav {
    text-align: center;
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-size: x-large;
  font-style: normal;
}

body {
  text-align: center;
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-size:medium;
  font-style: normal;
}
